<!DOCTYPE html> 
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>!!title!!!!subtitle!!</title>
    <link rel="icon" href="icons8-48.png" type="image/png"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="static/plugins/prism/prism.css">
    <link id="theme-style" rel="stylesheet" href="static/css/styles.css">
</head> 

<body data-spy="scroll body-container">
<script src="static/js/CryptoJS/components/core-min.js"></script>
<script src="static/js/CryptoJS/components/md5-min.js"></script>
<script src="static/js/CryptoJS/components/sha1-min.js"></script>
<div class="main-container">
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="/">
                    <img class="rzhd_LOGO" src="static/images/rzhd.svg">
                    <span class="logo-title">Анализатор</span>
                </a>
            </h1>           
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse"></button>
                </div>        
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="scrollto" href="#Offer">Предложение</a></li>
                        <li class="nav-item"><a class="scrollto" href="#queue">Очередь</a></li>
                        <li class="nav-item"><a class="scrollto" href="#analyze">Анализ</a></li>
                        <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=alexanderkazakow&repo=rzhd-analizator&type=watch&count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe> </li>
                    </ul>
                </div>
            </nav>
        </div>
            <source src="URL"><a href="static/audio/music.mp3"></a>
        </audio>
        <div class="train">
            <!-- <a href="static/audio/music.mp3"></a> -->
            <img class="rzhd_train" src="static/images/train.png">
        </div>
    </header>
    


    <section id="promo" class="promo section">
        <div class="container_bck">
            <img class="mash_left" src="static/images/mash_left.svg">

            <div class="background_red">
                <img class="macbook" src="static/images/rzhd_button.svg">
                <button class="button_upload"><label for="upload-media-file">Загрузить</label></button>
                <input type="file" id="upload-media-file" name="upload-media-file" accept="audio/*" style="display: none;" multiple>
            </div>
        </div>
    </section>
    


    <section id="Offer" class="about section">
        <div class="container">
            <h2 class="title text-center">Уникальное ценностное предложение</h2>
            <p class="intro text-center"></p>
            <div class="boxes-cont">
                
                <div class="box_items">
                    <div class="content">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                        <h3 class="sub-title">Аналитические Инструменты</h3>
                        <p>Автоматизированный анализ разговоров с использованием машинного обучения и ИИ для выявления нарушений и
                            отклонений от
                            регламента<a target="_blank"></a></p>
                    </div>
                </div>
                <div class="box_items">
                    <div class="content">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <h3 class="sub-title">Централизованное Хранилище</h3>
                        <p>Локальное хранилище для аудиофайлов, доступное с различных устройств<a
                                href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"></a></p>
                    </div>
                </div>
                <div class="box_items">
                    <div class="content">
                        <i class="fa fa-plug" aria-hidden="true"></i>
                        <h3 class="sub-title">Удаленный Доступ</h3>
                        <p>Удаленный Доступ: Возможность прослушивания записей в любое время и из любого места<a
                                href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"></a></p>
                    </div>
                </div>
                <div class="box_items">
                    <div class="content">
                        <i class="fa fa-tablet"></i>
                        <h3 class="sub-title">Уведомления и Отчеты</h3>
                        <p>Система уведомлений для информирования руководителей о проблемах и регулярные отчеты о переговорах<a
                                href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"></a></p>
                    </div>
                </div>
                <div class="box_items">
                    
                    <div class="content">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <h3 class="sub-title">Безопасность</h3>
                        <p>Обеспечение безопасности данных с помощью шифрования и контроля доступа<a
                                href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"></a></p>
                    </div>
                </div>
                <div class="box_items">
                    <div class="content">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                        <h3 class="sub-title">Уникальное ценностное предложение</h3>
                        <p>Снижение затрат времени и ресурсов на прослушивание и анализ записей
                            Повышение эффективности контроля за соблюдением регламентов
                            Автоматизация рутинных процессов<a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"></a></p>
                    </div>
                </div>
            </div>          
        </div>
    </section>
    
    <section id="queue">
        <h2 class="title text-center">Очередь обработки</h1>
        <div id="queue-container"></div>
    </section>
    <section id="analyze">
        <h2 class="title text-center">Анализ данных</h1>
        <div id="analyzed-container"></div>
    </section>

    <footer class="footer">
        <div class="container text-center">
            <small class="copyright"><a href="#" target="_blank">Made by AIDreamTeam</a></small>
        </div>
    </footer>
     
    <!--Javascript-->          
    <script type="text/javascript" src="static/plugins/jquery-1.11.3.min.js"></script>   
    <script type="text/javascript" src="static/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="static/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="static/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="static/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="static/js/main.js"></script>

    <script>
        jQuery(document).ready(function () {
            jQuery(".scrollto").click(function () {
                elementClick = jQuery(this).attr("href")
                destination = jQuery(elementClick).offset().top - 200;
                jQuery("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination }, 500);
                return false;
            });
        });
    </script>
</div>
</body>
</html>